/* src/components/ProductDetail.css */

.product-detail-container {
  padding: 20px;
  background-color: #f8f9fa;
}

.product-detail-image {
  width: 100%;
  max-width: 300px;
  height: 300px; /* Make it square */
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-detail-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-detail-content p {
  font-size: 16px;
  margin-bottom: 8px;
}

.order-button {
  background-color: #00b894;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: 100%;
  margin-top: 12px;
}
