.App {
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
}


input {
  padding: 8px;
  width: 300px;
  font-size: 16px;
  margin-bottom: 20px;
}
body {
  background-color: #f5f7fa; /* soft light blue/grey */
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.card {
  background-color: #f4faff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.App img {
  display: block;
  margin: 0 auto;
}
.logo {
  width: 200px;
  margin-bottom: 20px;
}
.fade-in {
  animation: fadeIn 1s ease-in forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/* App.css */
#orders ul {
  padding: 0;
  list-style: none;
}

#orders li {
  background-color: #b2ebf2;
  margin: 10px auto;
  padding: 10px;
  border-radius: 6px;
  max-width: 400px;
  text-align: left;
}
